.movie-item {
  display: flex;
  align-items: center ;
  cursor: pointer;
  
} 

.movie-item.item img {
  max-width: 100px;
  height: auto;
  padding-left: 10px;
}

@media only screen and (max-width:1000px){
  .movie-item {
    display: inline-block;
  }
  .movie-content{
    
    clear:both;
  }
  .movie-item.item img {
    max-width: 80px;
    
  }

}
